/* إعادة تعيين الإعدادات الافتراضية */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container h2{
    align-items: center;
    justify-items: center;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    
}

/* تنسيق شريط التنقل */
.navbar {
    background-image: linear-gradient(30deg ,#333,#3498db);
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #3498db;
}

/* تنسيق القسم الرئيسي Hero */
.hero {
    background-image: linear-gradient(60deg,#111,#fff);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #3498db;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 15px;
    transition: background 0.3s;
}

.btn:hover {
    background: #2980b9;
}

/* تنسيق الأقسام العامة */
.section {
    height: auto;
    padding: 30px 0;
    text-align: center;
}

.bg-light {
    background: #fff;
}

.section p {
    align-items: center;
    justify-items: center;
    font-size: 2rem;

}
.section h2 {
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
    font-size: 2rem;
    color: #333;
}

/* تنسيق الشبكة (Grid) للخدمات */
.services {
    height: auto;
    width: 100%;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card img{
   width: 100%;
   height: auto;


}
.card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* التذييل */
footer {
    bottom: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* التجاوب مع الشاشات الصغيرة (الموبايل) */
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
    }
    .nav-links {
        margin-top: 15px;
    }
    .hero h1 {
        font-size: 2rem;
    }
}
